// Specific CSS for your home-page

.welcome-page {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background: linear-gradient(#00c0ff 2%, #2e0998 97%);
}

.welcome-centered {
  text-align: center;
  padding-top: 150px;
}

.logo-cura {
  width: 210px;
}

.tagline {
  font-family: 'Poppins';
  font-size: 12px;
  color: white;
  padding-top: 10px;
  text-align: center;
}

.links-emplacement {
  padding-top: 280px;
  transition: opacity 4s ease-out;
}

.signup-link {
  display: block;
  color: white;
  font-family: "Poppins";
  padding-top: 25px;
}

