.welcome-header {
  height: 27vh;
}

.container-login {
  margin: auto;
}

.text-getting-started {
  top: 50px;
  left: 25px;
  position: absolute;
}

.user_password .form-text {
  display: none;
}

.title-login {
  font-family: "Poppins";
  font-size: 20px;
  color: white;
  z-index: 1;
}

.subtitle-login {
  padding-top: 110px;
  padding-left: 15px;
  font-size: 16px;
}

.full-name {
  display: flex;
}

.login-form-input {
  border-radius: 20px;
}

#user_avatar {
  background-color: #e8eaff;
  border-radius: 5px;
}

.user_avatar {
  display: flex;
}

#user_social_security {
  background-color: #e8eaff;
  border-radius: 5px;
}

.user_social_security {
  display: flex;
}

#user_id_card {
  background-color: #e8eaff;
  border-radius: 5px;
}

.user_id_card {
  display: flex;
}

.slick-form {
  padding-top: 50px;
  width: 300px;
  display: flex;
  margin: auto;
}

.slick-dots {
  bottom: 90px !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}


/*.circle-bottom-right {
  width: 30%;
  float: right;
  margin-top: 23px;
}*/

.welcome-footer {
  height: 15vh;
  position: absolute;
  margin: auto;
  bottom: 0px;
  z-index: -50;
}
