.orders-container {
  background-color: #3A49CC;
  // border-radius: 0px 0px 24px 24px;
  position: sticky;
  top: 0;
  margin-bottom: 2%;
  z-index: 2;
}

.orders-header {
  height: 11vh;
}

.text-my-orders {
  top: 30%;
  left: 8%;
  font-size: 20%;
  color: white;
  position: absolute;
  justify-content: space-between;
  align-items: center;
}

.chevron-style {
  font-size: 24px;
  color: white;
}

.h2-style {
  display: inline-block;
  padding-left: 20px;
  font-size: 24px;
}

.orders-body {
  // background-color: #F1F1F1;
     height: calc(100vh - 133px);
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    overflow: scroll;
}

.card-category-orders {
  background-color: white;
  height: 30%;
  display: flex;
  text-align: left;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 2% 8% 3% 8%;
  z-index: 2;
  font-size: 10px;

}

.order-name {
  font-size: 100%;
  font-weight: bold;
}

.order-date {
  font-size: 75%;
  color:#898A8F;
}

.btn-outline-style-show {
  border: dashed 0.5px #000000;
  border-radius: 16%;
  border-color: #898A8F;
  font-size: 70%;
  margin: 0% 2% 0% 0%;
  padding: 2% 12%;
}

.btn-outline-style-delete {
  border: dashed 0.5px #000000;
  border-radius: 16%;
  border-color: #898A8F;
  font-size: 70%;
  margin: 0% 0% 0% 2%;
  padding: 2% 11%;
}

.see-more-logo {
  width: 9%;
}

.rubbish-bin-logo {
  width: 9%;
}

.colored-hover {
  min-width: 28%;
  background-color: #cfcfd3;
  border-radius: 10px 0px 0px 10px;

}

.colored-hover:hover {
  background-color: #5865ce;
}

.card-subtitle {
  color: white !important;
  padding-top: 20px;
  font-size: 12px;
  padding-left: 8px;
}

.process-logo {
    width: 4%;
    height: 2%;
    margin-right: 10px;
}

.card-text {
  width: 180px;
}

.show-delete {
  flex-direction: column;
  justify-content: space-between;
  padding: 4%;
}

.m-0 {
  font-size: 13px;
}
