.prescriptions-container {
  background-color: #3A49CC;
  // border-radius: 0px 0px 24px 24px;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 2%;
}

.prescriptions-header {
  height: 7vh;
  color: white;
  align-items: center;
  padding: 0 20px;
}

.text-my-prescriptions {
  top: 30px;
  left: 25px;
  font-size: 18px;
  color: white;
  position: absolute;
  justify-content: space-between;
  align-items: center;
}

.chevron-style {
  font-size: 24px;
  color: white;
}

.h2-style {
  display: inline-block;
  padding-left: 35px;
  font-size: 24px;
}

.position-style {
  // padding-left: 51%;
  // padding-bottom: 51%;
  width: 100%;
  text-align: right;

}
.fa-list-ul-style{
  color: white;
}

.prescription {
  height: 550px;
  background-color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 4% 8% 3% 8%;
  padding: 2%;
}

.img-card {
  margin-bottom: 2%;
  height: 57%;
  border-radius: 2%;
  padding: 5%;
}

.show-prescription-name {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 5%;
}

.show-prescription-date {
  font-size: 100%;
  color:#898A8F;
  margin: 4% 0%;
}

.make-an-order-and-delete {
  margin-top: 8%;

}

.btn-outline-style-make-an-order {
  border: dashed 0.5px #000000;
  border-radius: 16%;
  border-color: #898A8F;
  font-size: 70%;
  margin: 0% 2% 0% 0%;
  padding: 2% 5%;
}

.btn-outline-style-delete {
  border: dashed 0.5px #000000;
  border-radius: 16%;
  border-color: #898A8F;
  font-size: 70%;
  margin: 0% 0% 0% 2%;
  padding: 2% 12%;
}










