.checkmarks{
    width: 13%;
    height: 35vh;
    margin: 0px;
    position: absolute;
    left: 19px;
    top: 3px;

}
.textorder{
width: 79%;
height: 60vh;
margin: 0px;
position: absolute;
left: 57px;
}
.order-status{
width: 100%;
height: 60vh;
margin: 0px;
position: relative;
top: 152px;
}
.spinner{
margin-bottom: 32px;
margin-bottom: 54%;
}
.statusone, .statustwo, .statusthree{
width: 70%;
margin-bottom: 28px;
    margin-right: 0px;

}
.statusonetext{
width: 160%;
margin: 0px;
}
.statusonedate{
margin: 0px;
color: grey;
font-size: 14px;
}

.statustwotext{
width: 160%;
margin: 0px;
}
.statustwodate{
margin: 0px;
color: grey;
font-size: 14px;
}


.statusthreetext{
width: 160%;
margin: 0px;
}
.statusthreedate{
margin: 0px;
color: grey;
font-size: 14px;
}

.spinnerthree{

   margin-bottom: 45%;

}


.spinnerone{
  margin-bottom: 45%;
}



.spinnertwo {
  margin-bottom: 45%;
}


.cardsorder{

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    background-color: white;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 18px;
}


.cardmap{

position: absolute;
    top: 12%;
    left: 4%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    background-color: white;
    width: 90%;
    height: 36vh;


}

.buttonsorder{

  position: absolute;
      position: absolute;
    top: 87%;
    left: 21%;

}
