.checkmarks{
width: 13%;
height: 35vh;
margin: 0px;
position: absolute;
left: 19px;
top: 3px;
}
.textorder{
width: 79%;
height: 60vh;
margin: 0px;
position: absolute;
left: 57px;
}
.order-status{
width: 100%;
height: 60vh;
margin: 0px;
position: relative;
top: 152px;
display: flex;
flex-direction: column;
}

.statusone, .statustwo, .statusthree{


height: 10vh;
}

.statusonedate{
margin: 0px;
color: grey;
font-size: 14px;
}

.statustwodate{
margin: 0px;
color: grey;
font-size: 14px;
}

.statusthreedate{
margin: 0px;
color: grey;
font-size: 14px;
}

.cardsorder{
border: 1px solid rgba(0, 0, 0, 0.125);
border-radius: 20px;
background-color: white;
position: absolute;
width: 90%;
top: 50%;
left: 18px;
}
.cardmap{
position: absolute;
top: 12%;
left: 4%;
border: 1px solid rgba(0, 0, 0, 0.125);
border-radius: 20px;
background-color: white;
width: 90%;
height: 36vh;
}
.buttonsorder{
position: absolute;
position: absolute;
top: 87%;
left: 21%;
}
