.checkmarks{
  width: 13%;
  height: 35vh;
  margin: 0px;
  position: absolute;
  left: 19px;
  top: 3px;
}

.textorder {
  width: 79%;
  height: 60vh;
  margin: 0px;
  position: absolute;
  left: 57px;
}

.orderstatusone{
  height: 35vh;
  position: relative;
  top: 156px;
  display: flex;
  right: -11px;
  flex-direction: column;
}

.img-visa {
  width: 20%;
}

.statusone, .statustwo, .statusthree{
  height: 9vh;
}

#statusonetext{
  font-size: 16px;
  position: absolute;
  left: 76px;
}

#statustwotext{
  font-size: 16px;
  position: absolute;
  left: 76px;
  top: 67px;
}

#statusthreetext {
  font-size: 16px;
  position: absolute;
  left: 76px;
  top: 134px;
}

.statusonedate{
  margin: 0px;
  color: grey;
  font-size: 14px;
}

.statustwodate{
  margin: 0px;
  color: grey;
  font-size: 14px;
}

.statusthreedate{
  margin: 0px;
  color: grey;
  font-size: 14px;
}

.cardsorder{
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  background-color: white;
  position: absolute;
  width: 90%;
  top: 54%;
  left: 18px;
  height: 27vh;
}

.cardmap{
  position: absolute;
  top: 12%;
  left: 4%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  background-color: white;
  width: 90%;
  height: 36vh;
  font-size: 16px;
  position: absolute;
  left: 76px;
  top: 134px
}

.statusonedate {
  margin: 0px;
  color: grey;
  font-size: 14px;
}

.statustwodate {
  margin: 0px;
  color: grey;
  font-size: 14px;
}

.statusthreedate {
  margin: 0px;
  color: grey;
  font-size: 14px;
}

.cardmap {
  position: absolute;
  top: 12%;
  left: 4%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  background-color: white;
  width: 90%;
  height: 36vh;
}

.buttonsorder{
  position: absolute;
  position: absolute;
  top: 82%;
  left: 16%;
}

.checkicon {
  width: 10%;
}

.spinnerone, .spinnertwo, .spinnerthree{
  position: absolute;
  left: 34px;
}

.pharmacistdelivery{
  width: 49%;
  position: absolute;
  top: 464px;
  left: 91px;
}

.textconfirmation {
  position: absolute;
  top: 147px;
  left: 84px;
  font-weight: bold;
  font-size: 18px;
}

.timeone{
  color: grey;
  font-size: 15px;
  color: grey;
  position: absolute;
  top: 9%;
  left: 79px;
  display: none;
}

.timetwo{
  color: grey;
  font-size: 15px;
  color: grey;
  position: absolute;
  top: 35%;
  left: 76px;
  display: none;
}

.timethree{
  color: grey;
  font-size: 15px;
  color: grey;
  position: absolute;
  top: 64%;
  left: 77px;
  display: none;
}

#map {
  position: absolute;
  height: 157px;
  top: 71px;
  left: 43px;
}

.card {
  background-color: white;
  height: 40vh;
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: absolute;
  left: 19px;
  top: 72px;
  width: 90%;
  border-radius: 21px;
}


#popuppayment {
  position: absolute;
  top: 133px;
  margin: 0px;
}


.orderstatustwo {
  color: #3A49CC;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 29px;
  left: 26px;
}

#map {
  position: absolute;
  left: 17px;
  top: 90px;
}

.submitpayment {
  outline: none;
  border: none;
  border-radius: 32px;
  padding: 5px 10px 5px 10px;
  background-color: #3A49CC;
  color: white;
  text-align: center;
  text-decoration: none;
}

.buttoncenter{
  text-align: center;
}

.validationtext{
  color: white;
  padding: 10px;
}

.pharmaciedetails {
  position: absolute;
  left: 21px;
  top: 11px;
}

.namepharmacie, .addresspharmacie {
  margin: 0;
  font-size: 14px;
}

.pharmacie {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}

.submitpopup {
    outline: none;
    border: none;
    border-radius: 80px;
    padding: 5px 25px 5px 25px;
    background-color: #3A49CC;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 31px;
}

.cancelpopup {
  outline: none;
  border: none;
  border-radius: 80px;
  padding: 5px 19px 5px 19px;
  background-color: lightgrey;
  color: white;
  text-align: center;
  text-decoration: none;
}

.mb-3 {
  margin-bottom: 0rem !important;
}
