.container-signin {
  height: 100vh;
  width: 300px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}

.pharmacist-img {
  width: 300px;
  padding-top: 44px;
  padding-bottom: 40px;
}

.signin-form-input {
  border-radius: 20px;
  font-family: "Poppins";
  box-shadow: 1px 1px #C2CBE2;
  text-align: center;
  margin-top: 35px;
}

.password-entry {
  margin-top: 10px;
}

.login-blue:hover {
  background-position: right center;
}

.remember-me {
  font-family: "Poppins";
}

.link-login {
  color: #C2CBE2;
}

.link-login:hover {
  color: white;
  text-decoration: underline;
}

.link-password {
  color: #C2CBE2;
  display: flex;
  justify-content: center;
  margin-top: 11px;
  font-size: 14px;
  font-style: italic;
}

.link-password:hover {
  color: white;
  text-decoration: underline;
}

.link-signup {
  color: #C2CBE2;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: -13px;
}

.link-signup:hover {
  color: white;
  text-decoration: underline;
}
