.welcome-container {
height: 100vh;
margin: auto;
}

.circle-top-left {
position: absolute;
top: -141%;
left: -132%;
z-index: -5;
}

.circle-top-right{
position: absolute;
top: 365%;
left: 306%;
z-index: -5;
}

.text-welcome-user {
margin-top: 162px;
margin-left: 70px;
width: 800px;
}

#name-user-welcome{
color: white;
font-size: 70px;
font-family: "poppins";
font-weight: bolder;
}

#font-welcome-user{
color: white;
font-size: 60px;
font-family: "poppins";
}

.welcome-container {
margin-top: 270px;
width: 242vh;
flex-direction: column;
align-items: center;
height: 100%;

}

.button-welcome {
background-color: white;
width: 480px;
height: 480px;
margin-top: 100px;
margin-right: 67px;
border-radius: 28px;
 box-shadow: 1px 1px  rgba(62, 84, 204, 0.6);
}
.scan-photo{
  margin-top: 96px;
  width: 35%;

}

.schedule-photo {

   margin-top: 96px;
   width: 35%;
}

.search-photo{

   margin-top: 96px;
   width: 35%;
}

.scan, .schedule, .search {
  flex-direction: column;
  text-align: center;

}

 p {
font-size: 45px;
color: #565656;

}
