
<div class="order-contaier">
  <div class="order-header">
    <div class="placeorder d-flex justify-content-start">
      <%= link_to welcome_path do%>
      <%= image_tag ("left-arrow.png"), class: "arrow-order" %>
      <%end%>
      <h2 class="text-header-order">Placing an order</h2>
    </div>
    <div class="order-steps">
      <%= image_tag ("3.png"), class: "steps-order" %>
    </div>
  </div>

<div>
  <% if @prescription.orders.last.order_status == "pending" %>
    <div class="order-body">
     <p>Your order is submitted , please check the status</p>
     <%= @prescription.orders.last.order_status %>
    </div>
  <% end %>
  <% if @prescription.orders.last.order_status == "pharmacie accept"  %>
   <div class="order-body">
    <h1>Pharmacy accept your order</h1>
    <p>Validation & paiement </p>
   </div>
  <% end %>

</div>


  </div>
</div>
