<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="dropdown position-style">
    <button type="button" class="btn btn-link fas fa-list-ul  fa-list-ul-style dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <!-- <li><a href="#">My Profil</a></li> -->
      <li><%= link_to 'My Profil', user_registration_path %></li>
      <li><%= link_to'My Orders', prescription_orders_path %></li>
      <li><%= link_to 'My Prescriptions', prescriptions_path %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
    </ul>
  </div>
</div>
