<div class="welcome-page">
  <div class="welcome-centered">
    <%= image_tag "logo-cura.png", class: "logo-cura" %>
    <p class="tagline">Medicine at your Door Step</p>
    <div class="links-emplacement">
      <%= link_to  "Sign In", new_user_session_path, class: "btn-white" %>
      <%= link_to  ("Not a member?<strong> Sign up</strong>").html_safe, new_user_registration_path, class: "signup-link" %>
    </div>
  </div>
</div>
