<div class="welcome-page">
  <div class="welcome-centered">
    <%= image_tag "logo-cura.png", class: "logo-cura" %>
    <p class="tagline">Medicine at your doorstep</p>
    <div class="links-emplacement" >
      <%= link_to  "Sign In", new_user_session_path, class: "btn-white" %>

      <%= link_to  "Sign out", destroy_user_session_path, method: :delete, class: "btn-white" %>
      <%= link_to  ("Not a member?<strong> Sign up</strong>").html_safe, new_user_registration_path, class: "signup-link" %>
    </div>
  </div>
</div>

<script type="text/javascript">

setTimeout(function() {
const links = document.querySelector(".links-emplacement");
  console.log("Yo")
  links.style.display = "block";
} ,2000);
</script>
