.welcome-footer-home{
height: 7vh;
margin: auto;
bottom: 0px;
z-index: -50;
width: 100%;
border-radius: 21px 21px 0px 0px;
box-shadow: 3px 9px 35px 22px rgba(86, 86, 86, 0.1);
background-color: #3A49CC;
z-index: 2;
align-items: center;
justify-content: space-around;
position: sticky;
text-align: center;
}
